<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- Only used to stylize the file-input button -->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-filestyle/2.1.0/bootstrap-filestyle.min.js"></script>-->
    <script src="/featuresJSONObject"></script>
    <head>
        <title>Simple Map</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <!-- See https://getbootstrap.com/docs/3.3/components/#navbar-brand-image for more navbar details.. -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <h3 style="text-align:center" th:text="#{indexTitle}"></h3>
                </div>
                <div class="nav navbar-nav navbar-right">
                    <select class="bootstrap-select languageSwitcher" onchange="changeLanguage()">
                        <option th:each="locale : ${allSupportedLocales}" th:value="${locale.localeCode}" th:text="${locale.displayName}"
                                th:selected="${currentSupportedLocale.equals(locale)}"> </option>
                    </select>
                </div>
            </div>
        </nav>
        <div class="container-fluid" >
            <div class="row">
                <div class = "col-sm-6 mapContainer">
                    <div class="mapContainer" style="height:500px; width: 100%">
                        <div id="map"></div>
                    </div>
                </div>
                <div class = "col-sm-6 formContainer">
                    <h3 class="header"> [[#{addNewFeature}]] </h3>

                    <!--<p><label> Photo: </label>-->
                        <button id="doInputButton"> [[#{doInputButtonText}]]</button>
                        <input type="file" id="hiddenFileInput" name="photo" accept="image/*" onchange="processImage()" style="display:none">
                        <img class="previewImage" src="" height="50" th-alt="${noPictureChosen}">
                    <!--</p>-->
                    <form id="featureForm">
                        <p> <label th:text="#{addressLabel}"></label> <label class="address"/> </p>
                        <p> <label th:text="#{descriptionLabel}">  </label> <input type="text" name="description"  required="required" /> </p>
                        <input type="hidden" name="googlePlaceId" />
                        <input type="hidden" name="latitude"/>
                        <input type="hidden" name="longitude"/>
                        <button type="button" onclick="submitFeature()" th:text="#{submitButton}">TextNotLoaded</button>
                    </form>
                </div>
            </div>
        </div>
        <script>
            var centerOfKrakow = { lng: 19.937327, lat: 50.061769};
            var gmap, currMarker, placesService;
            var autoHideInfoWindow= true;
            var imageQuality = .92; //browser default is .92
            var addressoText = "";
            var addressoWindow;
            var imageDataURL;
            var noPlaceSelected= "[[#{chooseAddressInstructions}]]";
            $("label.address").text(noPlaceSelected);
            $("#doInputButton").click(function () {
                $("#hiddenFileInput").trigger('click');
            });
            var geocoder;

            $("select.languageSwitcher")[0].initial
            function changeLanguage(){
                var newLanguage = $("select.languageSwitcher")[0].value;
                console.log("Language switched to " + newLanguage);
                var currURL = new URL(window.location.href);
                currURL.searchParams.set("lang", newLanguage);
                window.location.href = currURL.href;
            }

            function processImage(){
                var previewImage = document.querySelector('img.previewImage');
                var file = document.querySelector('input[name="photo"]').files[0];
                // Create a file reader
                var reader = new FileReader();
                // Set the image once loaded into file reader
                reader.onload = function (readerEvent) {
                    var image = new Image();
                    image.onload = function (imageEvent) {
                        var new_width = image.width,
                            new_height = image.height,
                            MAX_WIDTH = 1024,
                            MAX_HEIGHT = 768;
                        console.log("w/h before resize = " + new_width + ", " + new_height);
                        if (new_width > MAX_WIDTH) {
                                new_height *= MAX_WIDTH / new_width;
                                new_width = MAX_WIDTH;
                        }
                        if (new_height > MAX_HEIGHT) {
                                new_width *= MAX_HEIGHT / new_height;
                                new_height = MAX_HEIGHT;
                        }
                        var canvas = document.createElement('canvas');
                        //var canvas = document.querySelector('canvas.dupaCanvas');
                        canvas.width = new_width;
                        canvas.height = new_height;
                        var ctx = canvas.getContext("2d");
                        ctx.drawImage(image, 0, 0, new_width, new_height);
                        console.log("w/h after resize = " + new_width + ", " + new_height);
                        console.log("------------");
                        imageDataURL = canvas.toDataURL("image/jpeg", imageQuality);
                    }
                    image.src = readerEvent.target.result;
                    previewImage.src = readerEvent.target.result;
                }
                // Load files into file reader
                reader.readAsDataURL(file);
            }

            function submitFeature(){
                var fd = new FormData($('#featureForm')[0]);
                fd.append("imageDataURL", imageDataURL);
                var method = "PUT";
                var url = "/feature"; // + $(".googlePlaceId").get(0).value;
                var request = {
                    url: url,
                    enctype: 'multipart/form-data',
                    type: method,
                    processData: false,  // tell jQuery not to process the data
                    contentType: false,  // tell jQuery not to set contentType
                    cache: false,
                    data: fd,
                    beforeSend: function (xhr) {
                    },
                    error: function(jqXHR) {

                        console.log("ajax error " + jqXHR.status);
                    },
                    success: function(jqXHR) {
                        alert ("Hey sexy. Feature succesfully uploaded. To view the feature, please reload");
                    }
                };
                $.ajax(request);
            }


            function loadInitialFeatures(){
                /*Assumes featuresJSONObject already downloaded*/
                featuresJSONObject.forEach(addFeature);
            }
            function addFeature(feature){

                var latLng = new google.maps.LatLng(Number(feature.latitude), Number(feature.longitude));
                var newMarker = new google.maps.Marker({
                    position: latLng,
                    map: gmap
                });

                var contentString = '<div id="content infoBitch">'
                                    + '<p>' + feature.description + '</p>'
                                    + '<img src ="https://storage.googleapis.com/krk_ornaments/' + feature.photoList[0].thumbnailIdentifier
                                    + '" max-width = "100%" max-height="100%"/>'
                                    + '</div>';

                var infowindow = new google.maps.InfoWindow({
                    content: contentString,
                    maxWidth: 1000
                });
                newMarker.addListener('click', function () {
                    infowindow.open(gmap, newMarker);
                });
                newMarker.addListener('mouseover', function () {
                    infowindow.open(gmap, newMarker);
                });
                newMarker.addListener('mouseout', function () {
                    if(autoHideInfoWindow) {
                        infowindow.close();
                    }
                });
            }

            function initMap() {
                gmap = new google.maps.Map(document.getElementById('map'), {
                    center: centerOfKrakow,
                    zoom: 13
                });
                loadInitialFeatures();
               // placeService = new google.maps.places.PlacesService(gmap);
                geocoder = new google.maps.Geocoder;

                addressoWindow = new google.maps.InfoWindow({
                    content: addressoText
                });
                google.maps.event.addListener(gmap, 'click', function(event) {
                    if(currMarker != null){
                        currMarker.setMap(null);
                    }
                    currMarker = new google.maps.Marker({
                        position: event.latLng,
                        map: gmap
                    });

                    geocoder.geocode({'location': event.latLng}, function(results,status){
                            var filteredResults = results.filter(x => x.types[0] === "street_address");
                            if(status === 'OK' && filteredResults.length > 0) {
                                var chosenResult = filteredResults[0];
                                $('[name="googlePlaceId"]').get(0).value = chosenResult.place_id;
                                $('[name="latitude"]').get(0).value = chosenResult.geometry.location.lat();
                                $('[name="longitude"]').get(0).value = chosenResult.geometry.location.lng();
                                $('label.address').text(chosenResult.formatted_address);
                                addressoWindow.setContent(chosenResult.formatted_address);
                            }else{
                                $('label.address').text(noPlaceSelected);
                            }
                        }
                    );
                    currMarker.addListener('mouseover', function(){
                        addressoWindow.open(gmap, currMarker);
                    });
                    currMarker.addListener('mouseout', function(){
                        addressoWindow.close();
                    });
                });
            }
        </script>
        <!-- The script below has the unnecassary "&libraries=places" url-parameter that isn't needed if we aren't using
             the places library -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-7iMFFPCNY0gidSz6K7WUJsrj5uaWnJI&callback=initMap&libraries=places" async defer></script>
    </body>
</html>