#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.invisible{
  visibility: hidden;
}

.visible{
  visibility: hidden;
}