<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>-->
    <script src="/jquery.nice-select.v2.js"></script>
    <!-- Only used to stylize the file-input button -->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-filestyle/2.1.0/bootstrap-filestyle.min.js"></script>-->
    <script src="/allFeatures"></script>
    <script src="/allCategories"></script>
    <script src="/bootstrap-select.js"></script>
    <head>
        <title>Simple Map</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <!--<link rel="stylesheet"-->
              <!--href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">-->
        <link rel="stylesheet" href="/css/nice-select.css">
        <link rel="stylesheet" href="/bootstrap-select.css">
    </head>
    <body >
        <!-- See https://getbootstrap.com/docs/3.3/components/#navbar-brand-image for more navbar details.. style="display:none" -->
        <div class="loadingCurtain" >
            <img class="loadingImage" src="MAMMALS.svg" alt="" width="120" height="120">
        </div>

        <div class="container-fluid">

            <ul class="nav nav-pills">
                <li class="nav-item"> <h3 th:text="#{indexTitle}" style="margin-right:50px"> </h3></li>
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" data-target="#mapSuperContainer">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" data-target="#aboutSuperContainer"> About</a>
                </li>
                <li class="nav-item  ml-auto">
                    <select class="bootstrap-select languageSwitcher" onchange="changeLanguage()">
                        <option th:each="locale : ${allSupportedLocales}" th:value="${locale.localeCode}"
                            th:text="${locale.displayName}" th:selected="${currentSupportedLocale.equals(locale)}">
                        </option>
                    </select>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="mapSuperContainer">
                    <div class="row">
                        <div class = "col-sm-6 mapSuperContainer">
                            <div class="categoryCheckBox" ng-app="myApp" ng-controller="myCtrl">
                                <label class="checkbox-inline" ng-repeat="x in allCategories">
                                    <input class="categoryCheckbox" type="checkbox" value="{{x}}" checked="checked"
                                           onchange="hideShowCategories(this.value, this.checked)">
                                    <img class="categoryImage" ng-src="{{x}}.svg" width="30">
                                </label>
                            </div>
                            <div class="mapContainer" style="height:500px; width: 100%">
                                <div id="map"></div>
                            </div>
                        </div>
                        <div class = "col-sm-6 mapTabs">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <!-- We could change HREF to data-target
                                        https://stackoverflow.com/questions/39724687/bootstrap-tabs-without-anchors/39725375
                                    -->
                                    <a class="nav-link active featureDetailsNav" data-toggle="tab" data-target="#featureDetails">Preview</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link addNewFeatureNav" data-toggle="tab" data-target="#addPhoto"> [[#{addNewFeature}]]</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="featureDetails">
                                    <div class="featureName" th:text="#{featureDetailsPlaceHolder}"></div>
                                    <img class="mediumImage" src="" width="100%" th-alt="${choosePhotoError}" ></img>
                                    <div class="featureDescription"></div>
                                </div>
                                <div class="tab-pane fade" id="addPhoto">
                                    <button id="choosePhoto"> [[#{choosePhotoText}]]</button>
                                    <input type="file" id="hiddenFileInput" name="photo" accept="image/*"
                                           onchange="processImage()" style="display:none">
                                    <img class="previewImage" src="" height="50" th-alt="${choosePhotoError}">
                                    <!--<form id="formBitch">-->

                                        <!--<label th:text="#{nameLabel}"> </label>-->
                                        <!--<input type="text" name="name" required="required" minlength="3"-->
                                               <!--maxlength="20"/>-->
                                        <!--<label th:text="#{nameLabel}"> </label>-->
                                        <!--<input type="text" name="name" required="required" minlength="3"-->
                                               <!--maxlength="20"/>-->
                                    <!--</form>-->
                                    <form id="featureForm">
                                        <p>
                                            <label th:text="#{addressLabel}"></label>
                                                <label class="address"/>
                                        </p>
                                        <div class="selectHolder">
                                            <label th:text="#{categoriesLabel}"></label>

                                            <select name="category" class="niceSelect customNiceSelect" title="Select your category" onchange="categoryChanged()">
                                                <option data-image="MYTHICAL.svg" data-category="mythical">[[#{categories.mythical}]]</option>
                                                <option data-image="FISH.svg" data-category="fish">[[#{categories.fish}]]</option>
                                                <option data-image="BIRDS.svg" data-category="birds">[[#{categories.birds}]]</option>
                                                <option data-image="AMPHIBIANS.svg" data-category="amphibians">[[#{categories.amphibians}]]</option>
                                                <option data-image="MAMMALS.svg" data-category="mammals">[[#{categories.mammals}]]</option>
                                                <option data-image="REPTILES.svg" data-category="reptiles">[[#{categories.reptiles}]]</option>
                                                <option data-image="INSECTS.svg" data-category="insects">[[#{categories.insects}]]</option>
                                                <option data-image="ARACHNIDS.svg" data-category="arachnids">[[#{categories.arachnids}]]</option>
                                            </select>
                                        </div>

                                        <div class="nameHolder">
                                            <label th:text="#{nameLabel}"> </label>
                                                <input type="text" name="name" required="required" minlength="3"
                                                       maxlength="20"/>
                                        </div>
                                        <div class="descriptionHolder">
                                            <label th:text="#{descriptionLabel}"> </label>
                                            <input type="text" name="description" required="required"/>
                                        </div>
                                        <button type="button" onclick="submitFeature()" th:text="#{submitButton}">
                                            TextNotLoaded
                                        </button>
                                        <input type="hidden" name="googlePlaceId"/>
                                        <input type="hidden" name="latitude"/>
                                        <input type="hidden" name="longitude"/>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="aboutSuperContainer">
                    <div class="row">
                        <div class="col">
                            <div class="row about">
                                <br><br><br><br>
                                <h4> Page is currently under development.  </h4>
                                <!--<svg width="300" height="200">-->
                                    <!--<rect width="100%" height="100%" fill="green"/>-->
                                <!--</svg>-->

                            </div>
                            <div class="iconLicense">

                                <a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img
                                        alt="Creative Commons License" style="border-width:0"
                                        src="https://i.creativecommons.org/l/by/3.0/88x31.png"/></a><br/>This work is
                                licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative
                                Commons Attribution 3.0 Unported License</a>
                            </div>
                            <!--<div class="row">Icons made by <a href="https://www.flaticon.com/authors/pixel-buddha" title="Pixel Buddha">Pixel-->
                                <!--Buddha</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed-->
                                <!--by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0"-->
                                        <!--target="_blank">CC 3.0 BY</a></div>-->
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <script>
            var app = angular.module("myApp", []);
            app.controller("myCtrl", function ($scope) {
                $scope.allCategories = allCategories;
            });

            $(document).ready(function () {
                $('.niceSelect').niceSelect();
            });

            var allMarkers = [];
            var openInfoWindow = null;
            var centerOfKrakow = { lng: 19.937327, lat: 50.061769};
            var gmap, currMarker, placesService;
            var autoHideInfoWindow= true;
            var imageQuality = .92; //browser default is .92
            var addressoWindow;
            var imageDataURL;
            /* var bucketName = '[[${@environment.getProperty("com.lojasiewicz.mapDecorator.bucketName")}]]';
             var baseURLForImages = 'https://storage.googleapis.com/' + bucketName + '/'; */
            var baseURLForImages = 'http://localhost:8080/images/';
            var noPlaceSelected= "[[#{addressError}]]";
            var currCategory ;
            setCustomValidationMessages();

            $("#choosePhoto").click(function () {
                $("#hiddenFileInput").trigger('click');
            });
            var geocoder;

            function hideShowCategories(value, checked){
                var filteredMarkers = allMarkers.filter(function (x) {
                    return x.featureCategory == value
                });
                filteredMarkers.forEach( x => x.setVisible(checked)  );
            }
            function categoryChanged() {
                var x = $(".nice-select>.current>img").get(0);
                var imageString = x.getAttribute("src");
                currCategory = imageString.split(".")[0];
            }
            //$("select.languageSwitcher")[0].initial
            function setCustomValidationMessages(){
                // var name = document.querySelector('input[name="name"]');
                // var description = document.querySelector('input[name="description"]');
                // var choosePhoto = document.querySelector('button#choosePhoto');
                // var address = document.querySelector('label.address');


                // address.customValidity = '[[#{addressError}]]';
                // name.setCustomValidity('[[#{nameError(${@environment.getProperty("nameMinLength")},${@environment.getProperty("nameMaxLength")})}]]');
                // description.setCustomValidity('[[#{descriptionError(${@environment.getProperty("descriptionMaxLength")})}]]');
                // choosePhoto.setCustomValidity('[[#{choosePhotoError}]]');
                $("label.address").text(noPlaceSelected);
            }

            function changeLanguage(){
                toggleCurtain(true);
                var newLanguage = $("select.languageSwitcher")[0].value;
                var currURL = new URL(window.location.href);
                currURL.searchParams.set("lang", newLanguage);
                window.location.href = currURL.href;
            }

            function processImage(){
                var previewImage = document.querySelector('img.previewImage');
                var file = document.querySelector('input[name="photo"]').files[0];
                // Create a file reader
                var reader = new FileReader();
                // Set the image once loaded into file reader
                reader.onload = function (readerEvent) {
                    var image = new Image();
                    image.onload = function (imageEvent) {
                        var new_width = image.width,
                            new_height = image.height,
                            MAX_WIDTH = 1024,
                            MAX_HEIGHT = 768;
                        if (new_width > MAX_WIDTH) {
                                new_height *= MAX_WIDTH / new_width;
                                new_width = MAX_WIDTH;
                        }
                        if (new_height > MAX_HEIGHT) {
                                new_width *= MAX_HEIGHT / new_height;
                                new_height = MAX_HEIGHT;
                        }
                        var canvas = document.createElement('canvas');
                        //var canvas = document.querySelector('canvas.dupaCanvas');
                        canvas.width = new_width;
                        canvas.height = new_height;
                        var ctx = canvas.getContext("2d");
                        ctx.drawImage(image, 0, 0, new_width, new_height);
                        imageDataURL = canvas.toDataURL("image/jpeg", imageQuality);
                    }
                    image.src = readerEvent.target.result;
                    previewImage.src = readerEvent.target.result;
                }
                // Load files into file reader
                reader.readAsDataURL(file);
            }

            function toggleCurtain(show){
                var curtain = $(".loadingCurtain").get(0);
                if(show){
                    curtain.style.display = "block";
                }else{
                    curtain.style.display = "none";
                }
            }
            function submitFeature(){
                var htmlForm = $('#featureForm')[0];
                if( ! htmlForm.reportValidity()){
                    return;
                }

                let tempForm = new FormData(htmlForm);
                tempForm.append("imageDataURL", imageDataURL);

                let request = {
                    url: "/feature",
                    enctype: 'multipart/form-data',
                    type: "POST",
                    processData: false,  // tell jQuery not to process the data
                    contentType: false,  // tell jQuery not to set contentType
                    cache: false,
                    data: tempForm,
                    beforeSend: function (xhr) {
                        toggleCurtain(true);
                    },
                    error: function(jqXHR) {
                        toggleCurtain(false);
                        console.log("ajax error " + jqXHR.status);
                    },
                    success: function(jqXHR) {
                        toggleCurtain(false);
                        var newFeatures = jqXHR;
                        /* Warning : javascript object "newFeatures" is intimately tied to AJAXRequestController */
                        var newFeature = newFeatures[0];
                        allFeatures.push(newFeature);
                        addFeature(newFeature);
                        currMarker.setMap(null);
                    }
                };
                $.ajax(request);
            }


            function loadInitialFeatures(){
                /*WARNING :
                 1.) "allFeatures" string is defined in AJAXRequestController.java
                 2.) Assumes /allFeatures already downloaded - javascript download order should enforce that
                 */
                allFeatures.forEach(addFeature);
            }
            function addFeature(feature){
                var categoryImage = {
                    url: '/' + feature.category + ".svg",
                    // This marker is 20 pixels wide by 32 pixels high.
                    scaledSize: new google.maps.Size(32, 32),
                    // The origin for this image is (0, 0).
                    origin: new google.maps.Point(0, 0),
                    // The anchor for this image is the base of the flagpole at (0, 32).
                    // anchor: new google.maps.Point(0, 32)
                };

                var latLng = new google.maps.LatLng(Number(feature.latitude), Number(feature.longitude));
                var newMarker = new google.maps.Marker({
                    position: latLng,
                    icon: categoryImage,
                    map: gmap,
                    featureCategory : feature.category
                });

                var contentString = '<div id="content infoBitch">'
                                    + '<p>' + feature.name + '</p>'
                                    + '<img src ="' + baseURLForImages + feature.photoList[0].thumbnailIdentifier
                                    + '" max-width = "100%" max-height="100%"/>'
                                    + '</div>';
                /*Test if mediumPhotoIdentifier is actually valid ?? */
                newMarker.mediumImageURL = baseURLForImages + feature.photoList[0].mediumPhotoIdentifier;
                newMarker.featureName = feature.name;
                newMarker.featureDescription = feature.description;
                var infoWindow = new google.maps.InfoWindow({
                    content: contentString,
                    maxWidth: 1000
                });
                newMarker.addListener('click', function () {
                    if(autoHideInfoWindow && openInfoWindow != null){
                        openInfoWindow.close();
                    }
                    infoWindow.open(gmap, newMarker);
                    $('.mediumImage').get(0).src = newMarker.mediumImageURL;
                    $('.featureName').get(0).innerText = newMarker.featureName;
                    $('.featureDescription').get(0).innerText = newMarker.featureDescription;
                    $("a.featureDetailsNav").click();
                    openInfoWindow = infoWindow;
                });
                newMarker.addListener('mouseover', function () {
                    infoWindow.open(gmap, newMarker);
                });
                newMarker.addListener('mouseout', function () {
                    if(autoHideInfoWindow) {
                        infoWindow.close();
                    }
                });
                allMarkers.push(newMarker);
            }

            function initMap() {
                gmap = new google.maps.Map(document.getElementById('map'), {
                    center: centerOfKrakow,
                    zoom: 14
                });
                loadInitialFeatures();
               // placeService = new google.maps.places.PlacesService(gmap);
                geocoder = new google.maps.Geocoder;

                addressoWindow = new google.maps.InfoWindow({
                    content: ""
                });
                google.maps.event.addListener(gmap, 'click', function(event) {
                    if(currMarker != null){
                        currMarker.setMap(null);
                    }
                    currMarker = new google.maps.Marker({
                        position: event.latLng,
                        map: gmap
                    });

                    geocoder.geocode({'location': event.latLng}, function(results,status){
                            var filteredResults = results.filter(function (x) {
                                return x.types[0] === "street_address"
                            });
                            if(status === 'OK' && filteredResults.length > 0) {
                                var chosenResult = filteredResults[0];
                                $('[name="googlePlaceId"]').get(0).value = chosenResult.place_id;
                                $('[name="latitude"]').get(0).value = chosenResult.geometry.location.lat();
                                $('[name="longitude"]').get(0).value = chosenResult.geometry.location.lng();
                                $('label.address').text(chosenResult.formatted_address);
                                addressoWindow.setContent(chosenResult.formatted_address);
                            }else{
                                $('label.address').text(noPlaceSelected);
                            }
                        }
                    );
                    currMarker.addListener('mouseover', function(){
                        addressoWindow.open(gmap, currMarker);
                    });
                    currMarker.addListener('mouseout', function(){
                        addressoWindow.close();
                    });
                });
            }
        </script>
        <!-- The script below has the unnecassary "&libraries=places" url-parameter that isn't needed if we aren't using
             the places library &libraries=places -->
        <!--

        UNRESTRICTED KEY =  AIzaSyBuin5MR4aGj-5bNB13zpdxw1cVxxp5jFU
         restricted key = AIzaSyB2s2_GxHsxcXd9tXdd_owJvwEhpfxNNiU

        -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuin5MR4aGj-5bNB13zpdxw1cVxxp5jFU&callback=initMap" async defer></script>
    </body>
</html>